# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec

# Environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.history/

# Temporary files
*.log
tmp/
temp/
